@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

* {
    margin: 0;
}

.card-container{
    display: grid;
    grid-template-rows: 175px;
    grid-template-columns: 225px;
    border-radius: 10px;
    background-color: #EDEFEE;;
}

.card-image{
    grid-row: 1;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.content-container{
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 7fr 2fr;
    grid-template-columns: 3fr 2fr;
    justify-items: start;
    align-items: center;
}

.special-title{
    color: #333333;
    grid-column: 1;
    grid-row: 1;
    font-family: "Markazi Text";
    padding-left: 1rem;
    font-size: 1.25rem;
}

.special-price{
    grid-column: 2;
    grid-row: 1;
    font-family: "Karla";
    font-size: 1rem;
    color: #EE9972;
    justify-self: end;
    padding-right: 1rem;
}

.special-description{
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: 0;
    font-family: 'Karla';
    font-size: 1rem;
    line-height: 1.5;
    max-width: 35ch;
    color: #495E57;
    padding: 1rem;
    align-self: start;
}

.special-order{
    grid-column: 1;
    grid-row: 3;
    text-decoration: none;
    color: #333333;
    font-family: Karla;
    font-weight: 500;
    padding-left: 1rem;
}

.special-order:hover{
    color: #EE9972;
}

