.header-container{
    display: flex;
    justify-content: center;
    gap: 12vw;
    align-items: center;
    margin-bottom: 2rem;
}

.header-container h1{
    margin: 0;
    font-family: 'Markazi Text';
    font-weight: 500;
    font-size: 4rem;
    line-height: 1;
    color: #333333;
}

.specials-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

