@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

.section-container{
    margin: 0;
    padding: 0;
    background-color: #495E47;
    display: flex;
    justify-content: center;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 150px;
}

.image-container{
    padding-top: 25px;
    width: 300px;
    height: 300px;
}

.image-container > img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-button-container{
    margin-right: 175px;
}

.text-button-container h1{
    margin: 0;
    font-family: 'Markazi Text';
    font-weight: 500;
    font-size: 40pt;
    line-height: 1;
    color: #F4CE14;
    margin-top: 16px;
}

.text-button-container h2{
    margin: 0;
    font-family: 'Markazi Text';
    font-weight: 500;
    font-size: 20pt;
    line-height: 1;
    color: #EDEFEE;
}

.text-button-container p{
    margin: 0;
    font-family: 'Karla';
    font-size: 12pt;
    line-height: 1.5;
    max-width: 25ch;
    color: #EDEFEE;
}