@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

.card-container{
    display: grid;
    grid-template-rows: 175px;
    grid-template-columns: 200px;
    border-radius: 10px;
    background-color: #EDEFEE;;
    margin-right: 25px;
}

.card-image{
    grid-row: 1;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.content-container{
    grid-row: 2;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.special-title{
    color: #333333;
    grid-column: 1;
    font-family: "Markazi Text";
}

.special-price{
    grid-column: 2;
    font-family: "Karla";
    color: #EE9972
}

.special-description{
    grid-column: 1 / span 2;
    margin: 0;
    font-family: 'Karla';
    font-size: 12pt;
    line-height: 1.5;
    max-width: 25ch;
    color: #495E57;
}


.special-order{
    grid-column: 1 / span 2;
}


