@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');


.footer-container{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color:#EDEFEE;
    height: 325px;
    gap: 4rem;
    padding-top: 4rem;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.item-container h3{
    margin: 0 0 1rem 0;
    font-family: 'Markazi Text';
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    color: #495E47;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding: 0;
}

.footer-list a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: Karla, sans-serif;
    font-weight: 500;
    color: #333333;
}

.footer-list a:hover{
    color: #EE9972;
}

.footer-list p{
    display: block;
    text-align: center;
    font-family: Karla, sans-serif;
    font-weight: 500;
    color: #333333;
}

.footer-list-item{
    list-style-type: none;
}

@media(max-width: 600px){
    .footer-container{
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .item-container{
        align-items: center;
    }

    .footer-list a{
        align-items: center;
    }

    .footer-list{
        align-items: center;
    }

    .footer-container{
        height: auto;
    }
}